<header>
    {% include 'sidebar.twig' %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Gemu</a>
                {#<ul class="left hide-on-med-and-down">#}
                    {#<li><a href="sass.html"><i class="mdi-action-search"></i></a></li>#}
                    {#<li><a href="components.html"><i class="mdi-action-view-module"></i></a></li>#}
                    {#<li><a href="javascript.html"><i class="mdi-navigation-refresh"></i></a></li>#}
                    {#<li><a href="mobile.html"><i class="mdi-navigation-more-vert"></i></a></li>#}
                {#</ul>#}
            </div>
        </nav>
    </div>
</header>
