<html>
    <head>
        <title>Gemu Homepage</title>
        <link type="text/css" rel="stylesheet" href="{{app.request.base_path}}/gemu/web/assets/css/materialize.min.css">
        <link type="text/css" rel="stylesheet" href="{{app.request.base_path}}/gemu/web/assets/css/gemu.css">
    </head>
    <body>
        {% include 'header.twig' %}
        {% include 'main.twig' %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{app.request.base_path}}/gemu/web/assets/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{app.request.base_path}}/gemu/web/assets/js/gemu.js"></script>
    </body>
</html>
